@media screen and (min-width: 374px) {
	.deck {
		width: 100%;
		min-height: 525px;
	}

	.deck .card {
		height: 71px;
		width: 71px;
	}
}

@media screen and (min-width: 485px) {
	.deck .card {
		height: 85px;
		width: 85px;
	}
}

@media screen and (min-width: 600px) {
	.deck .card {
		height: 108px;
		width: 108px;
	}
}

@media screen and (min-width: 768px) {
	.deck {
		width: 85%;
		min-height: 600px;
	}

	.deck .card {
		height: 118px;
		width: 118px;
	}
}

@media screen and (min-width: 960px) {
	.deck {
		width: 660px;
		min-height: 680px;
	}

	.deck .card {
		height: 125px;
    	width: 125px;
	}
}